@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a demo webpage used in a final project in Reykjavik university.<br />
    Where the goal is to keep track on users activity on webpages for usability testing.</p>
